{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-area'}}) }}

    <div class="form-group">
        {{ form_row(form.imgName) }}
    </div>

    <div class="form-group">
        {{ form_row(form.hotelName) }}
    </div>

    <div class="form-group">
        {{ form_row(form.description) }}
    </div>

    <legend class="my-4">Features</legend>
    <div class="form-group">
        <div class="custom-control custom-control-inline custom-checkbox">
            {{ form_widget(form.swimmingPool) }}
            {{ form_label(form.swimmingPool, null, {'label_attr': {'class': 'custom-control-label'}}) }}
        </div>
        <div class="custom-control custom-control-inline custom-checkbox">
            {{ form_widget(form.gym) }}
            {{ form_label(form.gym, null, {'label_attr': {'class': 'custom-control-label'}}) }}
        </div>
        <div class="custom-control custom-control-inline custom-checkbox">
            {{ form_widget(form.wifi) }}
            {{ form_label(form.wifi, null, {'label_attr': {'class': 'custom-control-label'}}) }}
        </div>
        <div class="custom-control custom-control-inline custom-checkbox">
            {{ form_widget(form.roomService) }}
            {{ form_label(form.roomService, null, {'label_attr': {'class': 'custom-control-label'}}) }}
        </div>
        <div class="custom-control custom-control-inline custom-checkbox">
            {{ form_widget(form.airCondition) }}
            {{ form_label(form.airCondition, null, {'label_attr': {'class': 'custom-control-label'}}) }}
        </div>
        <div class="custom-control custom-control-inline custom-checkbox">
            {{ form_widget(form.restaurant) }}
            {{ form_label(form.restaurant, null, {'label_attr': {'class': 'custom-control-label'}}) }}
        </div>
    </div>

    <div class="form-group col-3">
        {{ form_row(form.price) }}
    </div>
    <button class="btn btn-primary" style="float: right;">{{ button_label|default('Add hotel') }}</button>
{{ form_end(form) }}
