{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Edit hotel{% endblock %}

{% block banner %}
    {% include 'partials/_banner.html.twig' with {'seccion': 'Edit hotel', 'nombreRuta': 'hotel_index'} %}
{% endblock %}

{% block section %}
<section class="contact-page-area section-gap">
    <div class="container">
        <div class="row jumbotron">
            <h1>Edit Hotel</h1>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {{ include('hotel/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
        <div class="text-center my-5">
            <a href="{{ path('hotel_index') }}" title="Go back" style="font-size: 50px;" class="text-dark"><i class="fas fa-arrow-circle-left"></i></a>
        </div>
    </div>
</section>
{% endblock %}
