{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} My hotels{% endblock %}

{% block banner %}
    {% include 'partials/_banner.html.twig' with {'seccion': 'My hotels', 'nombreRuta': 'hotel_index'} %}
{% endblock %}

{% block section %}
    <section class="section-gap">
        <div class="container">
            <a href="{{ path('hotel_new') }}">+ ADD A NEW HOTEL</a>
            <div class="section-gap">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <span class="navbar-brand">Filter by:</span>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <form action="{{ path('hotel_index_buscar') }}" class="form-inline my-2 my-lg-0" method="post">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="orderCategory" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Category
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <span class="dropdown-item disabled">Select 1 option:</span>
                                        <div class="dropdown-divider"></div>
                                        <select name="filterByType">
                                            <option class="dropdown-item" value="all">All</option>
                                            <option class="dropdown-item" value="swimmingPool">Swimming pool</option>
                                            <option class="dropdown-item" value="gym">Gym</option>
                                            <option class="dropdown-item" value="wifi">Wi-fi</option>
                                            <option class="dropdown-item" value="roomService">Room S.</option>
                                            <option class="dropdown-item" value="airCondition">Air C.</option>
                                            <option class="dropdown-item" value="restaurant">Restaurant</option>
                                        </select>
                                    </div>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="orderDate" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Date
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <div class="dropdown-item">
                                            <label for="orderDateFrom">Since:</label>
                                            <input type="date" class="form-control" name="orderDateFrom" step="1" min="2013-01-01" max="{{ "now"|date("Y-m-d") }}">
                                            <br>
                                            <label for="orderDateTo">Until:</label>
                                            <input type="date" class="form-control" name="orderDateTo" step="1" min="2013-01-01" max="{{ "now"|date("Y-m-d") }}">
                                        </div>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <input class="form-control mr-sm-2" id="searchFilter" name="searchFilter" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </li>
                            </form>
                        </ul>
                    </div>
                </nav>
                <br/>
                <p>You can filter between 2 dates (today maximum), by category and search text in the hotel name.</p>
            </div>
        </div>

        {% for message in app.flashes('mensaje') %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <p>{{ message }}</p>
            </div>
        {% endfor %}

        <div class="section-content">
            <div class="col-lg-12">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Stars</th>
                            <th>S. Pool</th>
                            <th>Gym</th>
                            <th>Wifi</th>
                            <th>Room S.</th>
                            <th>AirC.</th>
                            <th>Rest.</th>
                            <th>Price</th>
                            <th>Creator</th>
                            <th>Comments</th>
                            <th>Bookings</th>
                            <th>Date</th>
                            <th>Active</th>
                            <th></th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for hotel in hotels %}
                        <tr>
                            <td>{{ hotel.id }}</td>
                            <td>
                                <a href="{{ path('hotel_show', {'id': hotel.id}) }}">
                                    <img width="100" height="65" class="img-responsive" src="{{ asset('img/gallery/' ~ hotel.imgName) }}"
                                         alt="{{ hotel.imgName }}">
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('hotel_show', {'id': hotel.id}) }}">
                                    {{ hotel.hotelName }}
                                </a>
                            </td>
                            <td>{{ hotel.description|slice(0, 20) }}...</td>
                            <td>{{ hotel.stars }}</td>
                            <td>{{ hotel.swimmingPool ? '✔' : '' }}</td>
                            <td>{{ hotel.gym ? '✔' : '' }}</td>
                            <td>{{ hotel.wifi ? '✔' : '' }}</td>
                            <td>{{ hotel.roomService ? '✔' : '' }}</td>
                            <td>{{ hotel.airCondition ? '✔' : '' }}</td>
                            <td>{{ hotel.restaurant ? '✔' : '' }}</td>
                            <td>{{ hotel.price }}</td>
                            <td>{{ hotel.creator.nameuser }}</td>
                            <td>{{ hotel.comments | length }}</td>
                            <td>{{ hotel.bookings | length }}</td>
                            <td>{{ hotel.date ? hotel.date|date('Y-m-d') : '' }}</td>
                            <td>{{ hotel.active ? '<i class="far fa-eye"></i>' : '<i class="fas fa-eye-slash"></i>' }}</td>
                            <td>
                                <form action="{{ path('hotel_changestatus', {'id': hotel.id }) }}" id="form-status" class="text-center" method="POST" role="form">
                                    <div class="form-group">
                                        <select name="status">
                                            <option class="dropdown-item" value="1">active</option>
                                            <option class="dropdown-item" value="0">inactive</option>
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-exchange-alt"></i></button>
                                </form>
                            </td>
                            <td>
                                {% if (hotel.bookings | length) is same as(0) %}
                                    {{ include('hotel/_delete_form.html.twig') }}
                                {% endif %}
                                {# <a href="{{ path('hotel_show', {'id': hotel.id}) }}">show</a> #}
                                <a href="{{ path('hotel_edit', {'id': hotel.id}) }}" class="btn btn-primary btn-sm mt-1"><i class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="18">No hotels to show</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>


{% endblock %}
