{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Hotel details{% endblock %}

{% block banner %}
    {% include 'partials/_banner.html.twig' with {'seccion': 'View hotel', 'nombreRuta': 'pages_index'} %}
{% endblock %}

{% block section %}

    <section class="section-gap">
        <div class="container">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-end">
                    <div class="col-lg-6 col-md-12 home-about-left">
                        <h1>
                            {{ hotel.hotelName }}
                        </h1>
                        <p>
                            {{ hotel.date ? hotel.date|date('Y-m-d') : '' }}
                        </p>
                        <a href="#" class="link-border">
                            <a href="{{ path('pages_index_usuario', {'id': hotel.creator.id}) }}">{{ hotel.creator.nameuser }}</a>
                        </a>
                        <p>
                            {{ hotel.description }}
                        </p>
                        <p>
                            Since {{ hotel.price }} $
                        </p>
                        <p>
                            Total bookings: {{ hotel.bookings | length }}
                        </p>

                        <div class="btn-group my-4">
                            <button class="btn btn-sm {{ hotel.swimmingPool ? 'btn-dark' : 'btn-outline-dark' }}"><i class="fas fa-swimmer"></i></button>
                            <button class="btn btn-sm {{ hotel.gym ? 'btn-dark' : 'btn-outline-dark' }}"><i class="fas fa-dumbbell"></i></button>
                            <button class="btn btn-sm {{ hotel.wifi ? 'btn-dark' : 'btn-outline-dark' }}"><i class="fas fa-wifi"></i></button>
                            <button class="btn btn-sm {{ hotel.roomService ? 'btn-dark' : 'btn-outline-dark' }}"><i class="fas fa-bed"></i></button>
                            <button class="btn btn-sm {{ hotel.airCondition ? 'btn-dark' : 'btn-outline-dark' }}"><i class="fas fa-temperature-high"></i></button>
                            <button class="btn btn-sm {{ hotel.restaurant ? 'btn-dark' : 'btn-outline-dark' }}"><i class="fas fa-utensils"></i></button>
                        </div>

                        <div class="list-group">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if reservado %}
                                    <a href="{{ path('booking_index') }}" class="btn btn-dark text-uppercase mb-1">Reserved</a>
                                {% else %}
                                    <a href="{{ path('booking_new', {'id': hotel.id}) }}" class="btn btn-success text-uppercase mb-1">Book</a>
                                {% endif %}

                                <a href="{{ path('mensaje_new', {'id': hotel.creator.id} ) }}" class="btn btn-secondary mb-1">Send message to creator</a>
                            {% else %}
                                <a href="{{ path('register') }}" class="btn btn-warning mb-1">Send message. Register now!</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 home-about-right no-padding">
                        <img class="img-fluid" src="{{ asset('img/gallery/' ~ hotel.imgName) }}" alt="{{ hotel.hotelName }}">
                    </div>
                </div>
            </div>

            <ul class="list-group mt-4 mb-4" id="comments">
                <li class="list-group-item active">Comments of this hotel</li>
                <li class="list-group-item d-flex flex-row">
                    <div class="float-left">
                        <img class="rounded-circle mr-3" style="width: 40px;" src="{{ asset('/img/elements/a.jpg') }}" alt="">
                    </div>
                    <div>
                        <div><strong>User 2 name: </strong>Another comment<br>or nothing...</div>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <small>07/10/2018 05:13:23</small>
                    </div>
                </li>

                {{ include('comment/index.html.twig')}}

            </ul>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ include('comment/_form.html.twig') }}
            {% endif %}

            <div class="text-center my-5">
                <a href="{{ path('pages_index') }}" title="Go back" style="font-size: 50px;" class="text-dark"><i class="fas fa-arrow-circle-left"></i></a>
            </div>
        </div>
    </section>
{% endblock %}
