{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-area'}}) }}

    <div class="form-group">
        {{ form_row(form.nameuser) }}
    </div>

    <div class="form-group">
        {{ form_row(form.surname) }}
    </div>

    <div class="form-group">
        {{ form_row(form.province) }}
    </div>

    <div class="form-group">
        {{ form_row(form.email) }}
    </div>

    <div class="form-group">
        {{ form_row(form.email2, {'label': 'Repeat email', 'value': ''}) }}
    </div>

    <div class="form-group">
        {{ form_row(form.password) }}
    </div>

    <div class="form-group">
            {{ form_row(form.password2, {'label': 'Repeat password', 'value': ''}) }}
    </div>

    <div class="form-group">
        {{ form_row(form.avatar) }}
    </div>

    <div class="form-group">
        {{ form_row(form.captchaCode) }}
    </div>

    <div class="alert">
        {{ form_errors(form) }}
    </div>

    <button class="btn btn-primary" style="float: right;">{{ button_label|default('Register!') }}</button>
{{ form_end(form) }}
