{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} User management{% endblock %}

{% block banner %}
    {% include 'partials/_banner.html.twig' with {'seccion': 'User management', 'nombreRuta': 'hotel_index'} %}
{% endblock %}

{% block section %}
    <section class="section-gap">
        <div class="container">
            <div class="section-gap">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <span class="navbar-brand">Filter by:</span>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <form action="{{ path('usuario_index_buscar') }}" class="form-inline my-2 my-lg-0" method="post">
                                    <a class="nav-link dropdown-toggle" href="#" id="orderCategory" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        User role
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <span class="dropdown-item disabled">Select one:</span>
                                        <div class="dropdown-divider"></div>
                                        <select name="filterByRole">
                                            <option class="dropdown-item" value="TODOS">VIEW ALL</option>
                                            <option class="dropdown-item" value="ROLE_USER">ROLE_USER</option>
                                            <option class="dropdown-item" value="ROLE_ADMIN">ROLE_ADMIN</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <br>

        {% for message in app.flashes('mensaje') %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
            <p>{{ message }}</p>
        </div>
        {% endfor %}

        <br>
        <div class="section-content">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Surname</th>
                            <th>Province</th>
                            <th>Avatar</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>NumHotels</th>
                            <th>NumBookings</th>
                            <th>Language</th>
                            <th>Received</th>
                            <th>Sent</th>
                            <th></th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for usuario in usuarios %}
                            <tr>
                                <td>{{ usuario.id }}</td>
                                <td>
                                    <a href="{{ path('usuario_show', {'id': usuario.id}) }}">
                                        {{ usuario.nameuser }}
                                    </a>
                                </td>
                                <td>{{ usuario.surname }}</td>
                                <td>{{ usuario.province }}</td>
                                <td>
                                    <a href="{{ path('usuario_show', {'id': usuario.id}) }}">
                                        <img width="100" class="img-responsive" src="{{ asset('img/gallery/' ~ usuario.avatar) }}"
                                             alt="{{ usuario.nameuser }}">
                                    </a>
                                </td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.role }}</td>
                                <td>{{ usuario.hotels | length }}</td>
                                <td>{{ usuario.bookings | length }}</td>
                                <td>{{ usuario.language }}</td>
                                <td>{{ usuario.recibidos | length }}</td>
                                <td>{{ usuario.enviados | length }}</td>
                                <td>
                                    <form action="{{ path('usuario_changerole', {'id': usuario.id }) }}" id="form-profile" class="text-center" method="POST" role="form">
                                        <div class="form-group">
                                            <select name="role">
                                                <option class="dropdown-item" value="ROLE_USER">USER</option>
                                                <option class="dropdown-item" value="ROLE_ADMIN">ADMIN</option>
                                            </select>
                                        </div>

                                        <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-exchange-alt"></i></button>
                                    </form>
                                </td>
                                <td>
                                    {% if (usuario.bookings | length) is same as(0) and (usuario.recibidos | length) is same as(0) and (usuario.enviados | length) is same as(0) and (usuario.hotels | length) is same as(0) %}
                                    {{ include('usuario/_delete_form.html.twig') }}
                                    {% endif %}
                                    {# <a href="{{ path('usuario_show', {'id': usuario.id}) }}">show</a> #}
                                    <a href="{{ path('usuario_edit', {'id': usuario.id}) }}" class="btn btn-primary btn-sm mt-1"><i class="fas fa-user-edit"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="14">No users to show</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    {# <a href="{{ path('usuario_new') }}">Create new</a> #}
{% endblock %}
