{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Register{% endblock %}

{% block banner %}
    {% include 'partials/_banner.html.twig' with {'seccion': 'Register', 'nombreRuta': 'register'} %}
{% endblock %}

{% block section %}
    <section class="section-gap">
        <div class="container">
            <div class="row jumbotron">
                <h1>Create new User</h1>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {{ include('usuario/_form.html.twig') }}
                </div>
            </div>
            <div class="text-center my-5">
                <a href="{{ path('usuario_index') }}" title="Go back" style="font-size: 50px;" class="text-dark"><i class="fas fa-arrow-circle-left"></i></a>
            </div>
        </div>
    </section>
{% endblock %}

