{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Profile{% endblock %}

{% block banner %}
    {% include 'partials/_banner.html.twig' with {'seccion': 'User profile', 'nombreRuta': 'pages_index'} %}
{% endblock %}

{% block section %}
    <section class="section-gap">
        <div class="container">

            <div class="row mt-4">
                <div class="col-3">
                    <img class="w-100" id="avatar" src="{{ asset('img/gallery/' ~ usuario.avatar) }}" title="Avatar">
                </div>
                <div class="col-9">
                    <h4>{{ usuario.nameuser }}</h4>
                    <h4>
                        <small class="text-muted">{{ usuario.email }}</small>
                    </h4>
                    <h4>
                        <small class="text-muted">{{ usuario.province }}</small>
                    </h4>
                    <h4>
                        <small class="text-italic">{{ usuario.role }}</small>
                    </h4>
                    <h4>
                        <small class="text-success">{{ usuario.language }}</small>
                    </h4>
                    <p>
                        Rec. messages:  <small class="text-success">{{ usuario.recibidos | length }}</small>
                    </p>
                    <p>
                        Sent messages:  <small class="text-success">{{ usuario.enviados | length }}</small>
                    </p>
                    <p>
                        Hotels:  <small class="text-success">{{ usuario.hotels | length }}</small>
                    </p>
                    <p>
                        Bookings:  <small class="text-success">{{ usuario.bookings | length }}</small>
                    </p>
                </div>
            </div>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if app.user.id is same as(usuario.id) %}
                    <a href="{{ path('usuario_edit', {'id': usuario.id}) }}" class="btn btn-secondary btn-lg btn-block">Edit profile</a>
                {% endif %}
            {% endif %}
            <br/>

        </div>

        <div class="text-center my-5">
            <a href="{{ path('pages_index') }}" title="Go back" style="font-size: 50px;" class="text-dark"><i class="fas fa-arrow-circle-left"></i></a>
        </div>

    </section>
{% endblock %}
