{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Login{% endblock %}

{% block banner %}
    {% include 'partials/_banner.html.twig' with {'seccion': 'Login', 'nombreRuta': 'login'} %}
{% endblock %}

{% block section %}
    <section class="section-gap">
        <div class="container">

            <div class="row jumbotron">
                <h1>Welcome to Travelista</h1>
            </div>

            {% if error %}
                <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}


            <div class="row">
                <form action="{{ path('login') }}" method="post" class="mt-4">
                    <div class="form-group">
                        <label for="username">Email:</label>
                        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" />
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="_password" />
                    </div>

                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>

        </div>
    </section>
{% endblock %}