<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    {{ seccion }}
                </h1>
                <p class="text-white link-nav"><a href="{{ path('hotel_index') }}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{{ path(nombreRuta) }}"> {{ seccion }}</a></p>
            </div>
        </div>
    </div>
</section>