{% if ruta is same as('index') %}
    <nav aria-label="Page navigation example">
        {% if maxPages > 1 %}
            <ul class="pagination">
                {%if thisPage > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('pages_index', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                    </li>
                {% endif %}

                {# Render each page number #}
                {% for i in 1..maxPages %}
                    {% if i == thisPage %}
                            <li class="page-item active">
                                <a class="page-link" href="{{ path('pages_index', {currentPage: i}) }}">{{ i }}</a>
                            </li>
                    {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('pages_index', {currentPage: i}) }}">{{ i }}</a>
                            </li>
                    {% endif %}

                {% endfor %}

                {# `»` arrow #}
                {%if thisPage < maxPages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('pages_index', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>
{% elseif ruta is same as('show') %}
    <nav aria-label="Page navigation example">
        {% if maxPages > 1 %}
            <ul class="pagination">
                {%if thisPage > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('pages_index_usuario', {id: idUser, currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                    </li>
                {% endif %}

                {# Render each page number #}
                {% for i in 1..maxPages %}
                    {% if i == thisPage %}
                        <li class="page-item active">
                            <a class="page-link" href="{{ path('pages_index_usuario', {id: idUser, currentPage: i}) }}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('pages_index_usuario', {id: idUser, currentPage: i}) }}">{{ i }}</a>
                        </li>
                    {% endif %}

                {% endfor %}

                {# `»` arrow #}
                {%if thisPage < maxPages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('pages_index_usuario', {id: idUser, currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>
{% endif %}