{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Travel {% endblock %}

{% block banner %}
    <section class="banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 banner-left">
                    <h6 class="text-white">Away from monotonous life</h6>
                    <h1 class="text-white">Magical Travel</h1>
                    <p class="text-white">
                        If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
                    </p>
                    <a href="{{ path('register') }}" class="primary-btn text-uppercase">Get Started</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block section %}
    <section class="destinations-area section-gap">
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <span class="navbar-brand">Filter by:</span>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <form action="{{ path('pages_index_buscar') }}" class="form-inline my-2 my-lg-0" method="post">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="orderCategory" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Category
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <span class="dropdown-item disabled">Select 1 option:</span>
                                    <div class="dropdown-divider"></div>
                                    <select name="filterByType">
                                        <option class="dropdown-item" value="all">All</option>
                                        <option class="dropdown-item" value="swimmingPool">Swimming pool</option>
                                        <option class="dropdown-item" value="gym">Gym</option>
                                        <option class="dropdown-item" value="wifi">Wi-fi</option>
                                        <option class="dropdown-item" value="roomService">Room S.</option>
                                        <option class="dropdown-item" value="airCondition">'Air C.</option>
                                        <option class="dropdown-item" value="restaurant">Restaurant</option>
                                    </select>
                                </div>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="orderDate" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Date
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="dropdown-item">
                                        <label for="orderDateFrom">Since:</label>
                                        <input type="date" class="form-control" name="orderDateFrom" step="1" min="2013-01-01" max="{{ "now"|date("Y-m-d") }}">
                                        <br>
                                        <label for="orderDateTo">Until:</label>
                                        <input type="date" class="form-control" name="orderDateTo" step="1" min="2013-01-01" max="{{ "now"|date("Y-m-d") }}">
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">
                                <input class="form-control mr-sm-2" id="searchFilter" name="searchFilter" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </li>
                        </form>
                    </ul>
                </div>
            </nav>
            <br>
            <p>You can filter between 2 dates (today maximum), by category and search text in the hotel name.</p>
            <br>

            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-40 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Popular Destinations</h1>
                        <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                    {% for hotel in hotels %}
                        <div class="col-lg-4">
                            <div class="single-destinations">
                                <div class="thumb">
                                    <img src="{{ asset('img/gallery/' ~ hotel.imgName) }}" alt="{{ hotel.hotelName }}">
                                </div>
                                <div class="details">
                                    <h4 class="d-flex justify-content-between">
                                        <span>{{ hotel.hotelName }}</span>
                                        <div class="star">
                                            {{ hotel.showStars }}
                                        </div>
                                    </h4>
                                    <p>
                                        <span>Creator: </span>
                                        <span>{{ hotel.creator.nameuser }}</span>
                                    </p>
                                    <p>
                                        <span>{{ hotel.date ? hotel.date|date('Y-m-d') : '' }}</span>
                                    </p>
                                    <ul class="package-list">
                                        <li class="d-flex justify-content-between align-items-center">
                                            <span>Swimming pool</span>
                                            <span>{{ hotel.swimmingPool ? 'Yes' : 'No' }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <span>Gymnesium</span>
                                            <span>{{ hotel.gym ? 'Yes' : 'No' }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <span>Wi-fi</span>
                                            <span>{{ hotel.wifi ? 'Yes' : 'No' }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <span>Room Service</span>
                                            <span>{{ hotel.roomService ? 'Yes' : 'No' }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <span>Air Condition</span>
                                            <span>{{ hotel.airCondition ? 'Yes' : 'No' }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <span>Restaurant</span>
                                            <span>{{ hotel.restaurant ? 'Yes' : 'No' }}</span>
                                        </li>
                                        <li class="d-flex justify-content-between align-items-center">
                                            <span>Price per night</span>
                                            <span class="price-btn">${{ hotel.price }}</span>
                                        </li>
                                    </ul>
                                    <p class="d-flex justify-content-between align-items-center">
                                        <a href="{{ path('hotel_show', {'id': hotel.id}) }}" class="link-border">View more</a>
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            {% if app.user.id is same as(hotel.creator.id) %}
                                                <a href="{{ path('hotel_edit', {'id': hotel.id}) }}" class="d-flex mt-2 btn btn-sm btn-success">Edit</a>
                                        {% endif %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <tr>
                            <td colspan="18">No hotels to show</td>
                        </tr>
                    {% endfor %}
            </div>
            <br>
            {% if ruta is same as('index') or ruta is same as('show') %}
                <div>
                    {{ include('partials/_pagination.html.twig')}}
                </div>
            {% endif %}

        </div>
    </section>
{% endblock %}