{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'mt-4'}}) }}
    <h4>Write about this hotel</h4>

    <div class="form-group">
        {{ form_row(form.text) }}
    </div>

    <div class="form-group ">
        {{ form_row(form.stars) }}
    </div>

    <button class="btn btn-primary mt-3">{{ button_label|default('Send') }}</button>
{{ form_end(form) }}
