{% for comment in comments %}
    <li class="list-group-item d-flex flex-row">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if app.user.id is same as(comment.user.id) %}
            <div class="close btn-sm">
                {{ include('comment/_delete_form.html.twig') }}
            </div>
            {% endif %}
        {% endif %}
        <div class="float-left">
            <img class="rounded-circle mr-3" style="width: 40px;" src="{{ asset('img/gallery/' ~ comment.user.avatar) }}" alt="">
        </div>

        <div>
            <div><strong>{{ comment.user.nameuser }} : </strong>{{ comment.text }}</div>
            <div class="star">
                {{ comment.showStars }}
            </div>
            <small>{{ comment.date ? comment.date|date('Y-m-d H:i:s') : '' }}</small>
        </div>
    </li>
{% else %}
    <li>
        <div>
            No comments to show
        </div>
    </li>
{% endfor %}

{# <a href="{{ path('comment_new') }}">Create new</a> #}
{#
<a href="{{ path('comment_show', {'id': comment.id}) }}">show</a>
<a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
 #}


