{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-area contact-form text-right'}}) }}
    <div class="row">
        <div class="col-lg-6 form-group">
            {{ form_row(form.titulo) }}
            {{ form_row(form.respuestaa, {'value': 1}) }}
        </div>

        <div class="col-lg-6 form-group">
            {{ form_row(form.texto) }}
        </div>

        <div class="col-lg-12">
            <button class="genric-btn primary" style="float: right;">{{ button_label|default('Send') }}</button>
        </div>
    </div>
{{ form_end(form) }}
