{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} My messages{% endblock %}

{% block banner %}
    {% include 'partials/_banner.html.twig' with {'seccion': 'My messages', 'nombreRuta': 'mensaje_index'} %}
{% endblock %}


{% block section %}
    <section class="testimonial-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Received messages</h1>
                        <p>Here you can manage your messages and answer other users </p>
                        {% if mensajesRecibidos is empty %}
                        <p>You haven't sent messages </p>
                        {% else %}
                        <p>You have {{ mensajesRecibidos|length }} messages</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-testimonial">
                    {% if mensajesRecibidos %}
                        {% for mensajeRec in mensajesRecibidos %}
                            <div class="single-testimonial item d-flex flex-row">
                                <div class="thumb">
                                    <img class="img-fluid" src="{{ asset('img/gallery/' ~ mensajeRec.remitente.avatar) }}" alt="">
                                </div>
                                <div class="desc">
                                    <h5>{{ mensajeRec.titulo }}</h5>
                                    <span>{{ mensajeRec.date ? mensajeRec.date|date('Y-m-d H:i:s') : '' }}</span>
                                    <p>
                                        {{ mensajeRec.texto }}
                                    </p>
                                    <a href="#"><h4>From: {{ mensajeRec.remitente.nameuser }}</h4></a>
                                    <a href="{{ path('mensaje_new', {'id': mensajeRec.remitente.id} ) }}">Reply</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- End testimonial Area -->

    <!-- Start Send messages Area -->
    <section class="testimonial-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Sent messages</h1>
                        <p>Theese are yours sent messages </p>
                        {% if mensajesEnviados is empty %}
                            <p>You haven't sent messages </p>
                        {% else %}
                            <p>You have {{ mensajesEnviados|length }} messages</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-testimonial">
                    {% if mensajesEnviados %}
                        {% for mensajeEnv in mensajesEnviados %}
                            <div class="single-testimonial item d-flex flex-row">
                                <div class="thumb">
                                    <img class="img-fluid" src="{{ asset('img/gallery/' ~ mensajeEnv.destinatario.avatar) }}" alt="">
                                </div>
                                <div class="desc">
                                    <h5>{{ mensajeEnv.titulo }}</h5>
                                    <span>{{ mensajeEnv.date ? mensajeEnv.date|date('Y-m-d H:i:s') : '' }}</span>
                                    <p>
                                        {{ mensajeEnv.texto }}
                                    </p>
                                    <a href="{{ path('mensaje_new', {'id': mensajeEnv.destinatario.id} ) }}" title="Send new message to this user"><h4>To: {{ mensajeEnv.destinatario.nameuser }}</h4></a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

    </section>
{% endblock %}
