{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} New message{% endblock %}

{% block banner %}
    {% include 'partials/_banner.html.twig' with {'seccion': 'New message', 'nombreRuta': 'mensaje_index'} %}
{% endblock %}

{% block section %}
    <section class="contact-page-area section-gap">
        <div class="container">
            <div class="row jumbotron">
                <h1>Send message: </h1>
            </div>

            <div class="section-gap">
                <div class="row">
                    <div class="col-lg-8">
                        {{ include('mensaje/_form.html.twig') }}
                    </div>
                </div>
            </div>

            <div class="text-center my-5">
                <a href="{{ path('mensaje_index') }}" title="Go back" style="font-size: 50px;" class="text-dark"><i class="fas fa-arrow-circle-left"></i></a>
            </div>
        </div>
    </section>
{% endblock %}

