{% extends 'base.html.twig' %}

{% block title %}Mensaje{% endblock %}

{% block body %}
    <h1>Mensaje</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mensaje.id }}</td>
            </tr>
            <tr>
                <th>Remitente</th>
                <td>{{ mensaje.remitente }}</td>
            </tr>
            <tr>
                <th>Destinatario</th>
                <td>{{ mensaje.destinatario }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ mensaje.titulo }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ mensaje.texto }}</td>
            </tr>
            <tr>
                <th>Respuestaa</th>
                <td>{{ mensaje.respuestaa }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ mensaje.date ? mensaje.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mensaje_index') }}">back to list</a>

    <a href="{{ path('mensaje_edit', {'id': mensaje.id}) }}">edit</a>

    {{ include('mensaje/_delete_form.html.twig') }}
{% endblock %}
