{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-area'}}) }}

<div class="form-group">
    {{ form_row(form.checkIn) }}
</div>

<div class="form-group">
    {{ form_row(form.checkOut) }}
</div>

<div class="alert">
    {{ form_errors(form) }}
</div>

<button class="btn btn-success" style="float: right;">{{ button_label|default('Booking!') }}</button>
{{ form_end(form) }}

