{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} My bookings{% endblock %}

{% block banner %}
    {% include 'partials/_banner.html.twig' with {'seccion': 'My bookings', 'nombreRuta': 'booking_index'} %}
{% endblock %}

{% block section %}
    <section class="section-gap">
        <div class="container">
            <h1>My Bookings</h1>

            <br/>
            <div class="section-content">
                <div class="col-lg-12">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Hotel</th>
                            <th></th>
                            <th>User</th>
                            <th>CheckIn</th>
                            <th>CheckOut</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.id }}</td>
                                <td>
                                    <a href="{{ path('hotel_show', {'id': booking.hotel.id}) }}">
                                        <img width="100" height="65" class="img-responsive" src="{{ asset('img/gallery/' ~ booking.hotel.imgName) }}"
                                             alt="{{ booking.hotel.imgName }}" title="{{ booking.hotel.imgName }}">
                                    </a>
                                </td>
                                <td><a href="{{ path('hotel_show', {'id': booking.hotel.id}) }}">
                                        {{ booking.hotel.hotelName }}
                                    </a>
                                </td>
                                <td>{{ booking.user.nameuser }}</td>
                                <td>{{ booking.checkIn ? booking.checkIn|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ booking.checkOut ? booking.checkOut|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    {{ include('booking/_delete_form.html.twig') }}
                                    {# <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a> #}
                                    <a href="{{ path('booking_edit', {'id': booking.id}) }}" class="btn btn-primary btn-sm mt-1"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

