{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>HotelId</th>
                <td>{{ booking.hotelId }}</td>
            </tr>
            <tr>
                <th>UserId</th>
                <td>{{ booking.userId }}</td>
            </tr>
            <tr>
                <th>CheckIn</th>
                <td>{{ booking.checkIn ? booking.checkIn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CheckOut</th>
                <td>{{ booking.checkOut ? booking.checkOut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('booking_index') }}">back to list</a>

    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
