<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="{{ asset('/img/fav.png') }}">
        <!-- Author Meta -->
        <meta name="author" content="colorlib">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">

        <link href="{{ asset('https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('https://use.fontawesome.com/releases/v5.6.3/css/all.css') }}" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!--
        CSS
        ============================================= -->

        <link rel="stylesheet" href="{{ asset('../css/linearicons.css') }}">
        <link rel="stylesheet" href="{{ asset('../css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('../css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('../css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('../css/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('../css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ asset('../css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('../css/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('../css/main.css') }}">
        <style>
            a.menu-active {color: red;}
        </style>

        <title>{% block title %}Travel |{% endblock %}</title>
    </head>
    <body>
        <header id="header">
            <div class="header-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-6 col-6 header-top-left">
                            <ul>

                                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li><a href="{{ path('login') }}">Login</a></li>
                                    <li><a href="{{ path('register') }}">Register</a></li>
                                {% else %}
                                    <li><a href="{{ path('logout') }}"> {{ app.user.nameuser }} - Logout</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-6 header-top-right">
                            <div class="header-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container main-menu">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a href="{{ path('pages_index') }}"><img src="{{ asset('../img/logo.png') }}" alt="" title="" /></a>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li><a href="{{ path('pages_index') }}">Home</a></li>
                            <li><a href="{{ path('pages_about') }}">About</a></li>
                            <li><a href="{{ path('pages_contact') }}">Contact</a></li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path('hotel_index') }}">My hotels</a></li>
                                <li><a href="{{ path('booking_index') }}">Bookings</a></li>
                                <li><a href="{{ path('usuario_show', {'id': app.user.id }) }}">My profile</a></li>
                                <li><a href="{{ path('mensaje_index') }}">My messages</a></li>
                               {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('usuario_index') }}">User management</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </nav><!-- #nav-menu-container -->
                </div>
            </div>
        </header><!-- #header -->

        {% block body %}{% endblock %}

        <!-- start footer Area -->
        <footer class="footer-area section-gap">
            <div class="container">

                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>About Agency</h6>
                            <p>
                                The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Navigation Links</h6>
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Feature</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Portfolio</a></li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul>
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Newsletter</h6>
                            <p>
                                For business professionals caught between high OEM price and mediocre print and graphic output.
                            </p>
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn bb-btn"><span class="lnr lnr-location"></span></button>
                                    </div>
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget mail-chimp">
                            <h6 class="mb-20">InstaFeed</h6>
                            <ul class="instafeed d-flex flex-wrap">
                                <li><img src="{{ asset('../img/i1.jpg') }}" alt=""></li>
                                <li><img src="{{ asset('../img/i2.jpg') }}" alt=""></li>
                                <li><img src="{{ asset('../img/i3.jpg') }}" alt=""></li>
                                <li><img src="{{ asset('../img/i4.jpg') }}" alt=""></li>
                                <li><img src="{{ asset('../img/i5.jpg') }}" alt=""></li>
                                <li><img src="{{ asset('../img/i6.jpg') }}" alt=""></li>
                                <li><img src="{{ asset('../img/i7.jpg') }}" alt=""></li>
                                <li><img src="{{ asset('../img/i8.jpg') }}" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer Area -->

        <script src="{{ asset('/js/vendor/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ asset('/js/popper.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA') }}"></script>
        <script src="{{ asset('/js/jquery-ui.js') }}"></script>
        <script src="{{ asset('/js/easing.min.js') }}"></script>
        <script src="{{ asset('/js/hoverIntent.js') }}"></script>
        <script src="{{ asset('/js/superfish.min.js') }}"></script>
        <script src="{{ asset('/js/jquery.ajaxchimp.min.js') }}"></script>
        <script src="{{ asset('/js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('/js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ asset('/js/owl.carousel.min.js') }}"></script>
        <!--<script src="../js/mail-script.js"></script> Lo he comentado porque si no me da error al cargar las imagenes-->
        <script src="{{ asset('/js/main.js') }}"></script>
        <script src="{{ asset('/js/delete.js') }}"></script>
        <script src="{{ asset('/js/delete-user.js') }}"></script>
        <script src="{{ asset('/js/delete-hotel.js') }}"></script>
        <script src="{{ asset('/js/delete-comment.js') }}"></script>
        <script src="{{ asset('/js/delete-booking.js') }}"></script>
        <script src="{{ asset('/js/delete-mensaje.js') }}"></script>
    </body>
</html>