{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} ERROR 403 {% endblock %}

{% block section %}
    <div class="container">
        <div class="row jumbotron">
            <h1>Error 403 - Forbidden </h1>
        </div>

    </div>
{% endblock %}