{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} ERROR 500 {% endblock %}

{% block section %}
    <div class="container">
        <div class="row jumbotron">
            <h1>Error 500 - Internal Server Error </h1>
        </div>

    </div>
{% endblock %}