{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} ERROR 404 {% endblock %}

{% block section %}
    <div class="container">
        <div class="row jumbotron">
            <h1>Error 404 - Not Found </h1>
        </div>

    </div>
{% endblock %}